/* 
* @Author: Nokey-木马人
*/
/* First to do */
*{
    margin: 0;
    padding: 0;
    line-height: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}
html{
    width: 100%;
    font-size: 62.5%;
    background-color: #fff;
}
body{
    font-size: 1.4rem;
    font-family: 'Microsoft Yahei', 'Hiragino Sans GB', Helvetica, sans-serif;
    background-color: #fff;
}
ul {
    list-style: none;
}
a{
    text-decoration: none;
}
hr{
    border: 0;
    width: 100%;
    border-top: 1px solid #cbcbcb;
}
em{
    font-style: normal;
}
input, textarea{
    font-family: Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
}
input:focus, textarea:focus{
    outline: none;
}
i{
    font-style: normal;
}
img{
    outline: none;
    border: 0 !important;
}
::selection {/*Webkit,Opera9.5+,Ie9+*/
    background: #b5a25d;
    color: #fff;
}
::-moz-selection {/*Mozilla Firefox*/
    background: #b5a25d;
    color: #fff;
}
::-ms-clear{
    display: none;
}
::-ms-reveal{
    display: none;
}
.link{
    cursor: pointer;
}

/* Nokey's 16 Grid Style */
.grid{
    display: block;
    text-align: left;
    font-size: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.grid .row{
    display: block;
    width: 100% !important;
    margin-bottom: 1.5%;
    font-size: 0;
}
.grid .column, .grid .row .column{
    margin: 0;
    padding: 0 !important;
    display: inline-block;
}
.grid .float{
    float: left;
    margin-top: 20px;
}
/* 16 Grid's column width */
.grid.one .column{
    width: 100%;
}
.grid.two .column{
    width: 50%;
}
.grid.three .column{
    width: 33.333333%;
}
.grid.four .column{
    width: 25%;
}
.grid.five .column{
    width: 20%;
}
.grid.six .column{
    width: 16.666667%;
}
.grid.seven .column{
    width: 14.2857%;
}
.grid.eight .column{
    width: 12.5%;
}
.grid.nine .column{
    width: 11.1111%;
}
.grid.ten .column{
    width: 10%;
}
.grid.eleven .column{
    width: 9.0909%;
}
.grid.twelve .column{
    width: 8.3333%;
}
.grid.thirteen .column{
    width: 7.6923%;
}
.grid.fourteen .column{
    width: 7.1428%;
}
.grid.fifteen .column{
    width: 6.6666%;
}
.grid.sixteen .column{
    width: 6.25%;
}
/* Tabel Grid */
.grid.divided, .grid.divided > .row{
    display: table;
    width: 100%;
    margin-left: 0% !important;
    margin-right: 0% !important;
}
.grid.divided > .column, .grid.divided > .row > .column{
    display: table-cell;
}
/* Vertical align (image) */
.grid.top .column, .grid .row.top .column{
    vertical-align: top;
}
.grid.middle .column, .grid .row.middle .column{
    vertical-align: middle;
}
.grid.bottom .column, .grid .row.bottom .column{
    vertical-align: bottom;
}
/* Divided left by border width */
.grid.sep{
    margin-left: -15px;
}
.grid.sep .column, .grid .row.sep .column{
    border: 1px solid #fff;
    border-width: 0 0 0 15px;/*Separation's width*/
}

/* Tools Style */
.text-overflow{
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.clearfix:after{
    content: '.';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
.clearfix{
    *zoom: 1;
}
.no-select{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.abs-center{   /* must set Height */
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}
.hardware{
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    -webkit-perspective:1000;
    perspective:1000;
}
.transition{
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}
.transition-1{
    -webkit-transition: all .1s;
    -moz-transition: all .1s;
    -o-transition: all .1s;
    transition: all .1s;
}
.envisible{
    visibility: hidden;
}
.hide{
    opacity: 0;
}
.abs{
    position: absolute;
}
