/* 
* @Author: Nokey - 木马人
*/

/**********************/
/*   Aniamtion funcs  */
.swipe-up{
    width: 20px;
    height: 20px;
    left: 50%;
    margin-left: -10px;
    bottom: 10px;
    color: #FA8072;
    opacity: .5;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADgAAAA+CAMAAABJASgxAAAAb1BMVEUAAAD19fX////4+Pj39/f////////v7+/z8/P7+/v////9/f3////w8PD09PT////39/fz8/P////////////y8vLx8fHx8fHv7+/v7+/v7+/////v7+/w8PD////w8PDt7e3////6+vr8/Pz+/v7Fz9loAAAAIXRSTlMA4VwM/vmIfCny6bmxqYczEe7Y1dHQyMWjVU00LSAcAriK3K9IAAAA/klEQVRIx+2T2w6DIBBEQahgtWrv98su/P83Nk3AlcYqPpfzyGbIzk6GJRKJmWTSAICR2UxdDp58jqwtgSjbaN11C32211h7SwhZRhkV+QK+WeRiUveowGONBU/1mNA1G/AY/uIGPJtm3B6tiUfN9BFp3SwqPcCT+Bg+IUwnKirokMo9KglkVAzb29FZ1hfmuazpRLtmPD3ca0boPY4keq97Z1m1waxd9U5U30Mh72a2UE8W8lSF7X7l4ayg9M4DPs6UaBFO0A3wcBvs4+2A7mMMhTV39sSPPgpnlNcsRJcIVqqRPippAUud+pj6+Pd9JGb0MSS6j8NQHxOJf+ENLQpaZ71k6OIAAAAASUVORK5CYII=) no-repeat;
    background-size: 100%;
}
@-webkit-keyframes swipeMove {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 5px, 0);
    }
    70% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -8px, 0);
    }
}
@keyframes swipeMove {
    0% {
        opacity: 0;
        transform: translate3d(0, 5px, 0)
    }
    70% {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
    100% {
        opacity: 0;
        transform: translate3d(0, -8px, 0);
    }
}
.swipeMove {
    -webkit-animation: swipeMove 1s ease-in infinite;
    animation: swipeMove 1s ease-in infinite;
}
@-webkit-keyframes upDown{
    0%{
        -webkit-transform: translateY(-5px);
    }
    50%{
        -webkit-transform: translateY(10px);
    }
    100%{
        -webkit-transform: translateY(-5px);
    }
}
@keyframes upDown{
    0%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-5px);
    }
}
.upDown{
    -webkit-animation: upDown 1s ease infinite;
    animation: upDown 1s ease infinite;
}
@-webkit-keyframes leftRight{
    0%{
        -webkit-transform: translateX(-10px);
    }
    50%{
        -webkit-transform: translateX(10px);
    }
    100%{
        -webkit-transform: translateX(-10px);
    }
}
@keyframes leftRight{
    0%{
        transform: translateX(-10px);
    }
    50%{
        transform: translateX(10px);
    }
    100%{
        transform: translateX(-10px);
    }
}
.leftRight{
    -webkit-animation: leftRight 1s ease infinite;
    animation: leftRight 1s ease infinite;
}
@-webkit-keyframes show{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes show{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.show{
    opacity: 1 !important;
    -webkit-animation: show .8s ease;
    animation: show .8s ease;
}
@-webkit-keyframes flash{
    0%{
        opacity: 0;
    }
    70%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes flash{
    0%{
        opacity: 0;
    }
    70%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.flash{
    opacity: 1 !important;
    -webkit-animation: flash .8s ease infinite;
    animation: flash .8s ease infinite;
}
.center-X{
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.center-Y{
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.center-XY{
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*     默认 6 Plus 样式    */
/*************************/
/*        P0 Style       */
.p0-1{
    width: 100%;
}
.p0-1 img{
    width: 100%;
}
.p0-1-trigger{
    width: 80px;
    height: 80px;
}
.p0-hand{
    top: 60%;
    width: 6.333%;
}
.p0-hand img{
    width: 100%;
}
.p0-2{
    min-width: 100%;
    min-height: 100%;
}
.p0-4{
    width: 100%;
}
.p0-4 img{
    width: 100%;
}
.p0-3{
    bottom: 15.3333%;
    width: 85%;
}
.p0-5{
    bottom: -15px;
    width: 20.5555%;
}

/*        P1 Style       */
.p1-1{
    width: 55%;
    right: 0;
    top: 15.3333%;
}
.p1-2{
    width: 55%;
    left: 0;
    bottom: 0;
}
.p1-2 img{
    width: 100%;
}
.p1-2-trigger{
    width: 80px;
    height: 80px;
}
.p1-hand{
    width: 5%;
    left: 26.5555%;
    bottom: 30%;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.p1-hand img{
    width: 100%;
}
.p1-3{
    width: 55%;
    left: 6%;
    bottom: 10%;
}
.p1-4{
    width: 55%;
    right: 0;
    top: 15.3333%;
}
.p1-5{
    width: 88%;
    right: 0;
    top: 31.3333%;
}

/*        P2 Style       */
.p2-1{
    width: 100%;
    left: 0;
    top: 0;
}
.p2-1-trigger{
    width: 100%;
    height: 80px;
    top: 50%;
    margin-top: -40px;
}
.p2-hand{
    width: 8%;
    -webkit-transform: translate(-50%, -50%) rotate(-25deg);
    transform: translate(-50%, -50%) rotate(-25deg);
}
.p2-hand-i{
    width: 100%;
}
.p2-2{
    width: 100%;
}
.p2-3{
    width: 72%;
    top: 10%;
    left: 5%;
}

/*        P3 Style       */
.p3-1{
    width: 100%;
    right: 0;
    bottom: 0;
}
.p3-hand{
    width: 6%;
    -webkit-transform: translateX(-50%) rotate(180deg);
    transform: translateX(-50%) rotate(180deg);
    top: 28%;
}
.p3-hand-i{
    width: 100%;
}
.p3-1-trigger{
    width: 40%;
    height: 28%;
}
.p3-2{
    width: 100%;
    left: 0;
    top: 20%;
}
.p3-3{
    width: 100%;
    left: 0;
    top: -5%;
}
.p3-4{
    width: 88%;
    bottom: 8%;
}

/*        P4 Style       */
.p4-top{
    width: 100%;
    height: 7%;
    left: 0;
    top: 0;
}
.p4-bottom{
    width: 100%;
    height: 93%;
    left: 0;
    top: 7%;
}
.p4-box-1, .p4-box-2, .p4-box-3{
    width: 100%;
    height: 33.3333%;
    overflow: hidden;
    position: relative;
}
.p4-5, .p4-3, .p4-1{
    min-width: 100%
    min-height: 100%;
}
.p4-6, .p4-4{
    width: 85%;
    bottom: 10%;
}
.p4-2{
    width: 80%;
    bottom: 10%;
}

/*        P5 Style       */
.p5-1{
    width: 100%;
}
.p5-2{
    width: 62%;
    top: 18%;
}

/*************************/
/*     iPhone6 Style     */
@media only screen and (max-height: 650px) and (min-height: 581px){
    /*   P0   */
}

/*************************/
/*     iPhone5 Style     */
@media only screen and (max-height: 580px) and (min-height: 490px){
    /*   P0   */
}

/*************************/
/*     iPhone4 Style     */
@media only screen and (max-height: 489px){
    /*   P0   */
}


