/*
* @Author: Nokey - 木马人
* front-color: #4c89db
* background-color: #ebebeb;
* text-color: #707070
*/

/*  Index-6  */
.car-grid{
    margin-top: 5px;
}
.car-li{
    height: 100px;
    padding: 5px;
}
.car-img-wrap{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
.car-img-wrap img{
    width: 100%;
}
.mask-title{
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background-color: rgba(0,0,0,.2);
}
