/*
* @Author: Nokey
* @Date:   2014-12-08 20:40:21
* @Last Modified by:   Nokey
* @Last Modified time: 2015-06-18 11:40:37
*/
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden], template {
    display: none;
}
a {
    background: 0 0;
}
a:active, a:hover {
    outline: 0;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b, strong {
    font-weight: 700;
}
dfn {
    font-style: italic;
}
h1 {
    font-size: 2em;
    margin: .67em 0;
}
mark {
    background: #ff0;
    color: #000;
}
small {
    font-size: 80%;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -.5em;
}
sub {
    bottom: -.25em;
}
img {
    border: 0;
    outline: 0;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 1em 40px;
}
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}
pre {
    overflow: auto;
}
code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
button {
    overflow: visible;
}
button, select {
    text-transform: none;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled], html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
input {
    line-height: normal
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    height: auto;
}
input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}
fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em;
}
legend {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
}
optgroup {
    font-weight: 700;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td, th {
    padding: 0;
}
ul {
    list-style: none;
}
li, ul {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "黑体", Arial, sans-serif;
    font-size: 12px;
    position: relative;
	color: #707070;
	background-color: #ebebeb;
	padding-top: 1px;
}
a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
body, html {
    min-height: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*{
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
input, input:focus, input:active, textarea, textarea:focus, textarea:active{
	border: none;
	outline: none;
}

/*   First Style   */
img{
    display: block;
}
.abs{
    position: absolute;
}
.hardware{
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/*     Tool style     */
.hide{
    opacity: 0;
}
.envisible{
    visibility: hidden;
}
.display-none{
    display: none;
}
.clearfix:after{
    content: '.';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
.clearfix{
    *zoom: 1;
}
.txt-v-wrap{
    display: table;
}
.txt-v-inner{
    display: table-cell;
    vertical-align: middle;
}

/*  Simple Grid: 3 Column */
.grid{
    display: block;
}
.grid .col{
    float: left;
}
.grid .col-1{
    width: 33.3333%;
}
.grid .col-2{
    width: 66.6666%;
}
.grid .col-3{
    width: 100%;
}

/*****   Validate style   *****/
.val-error{
    -webkit-box-shadow: 0 0 5px #f00;
    box-shadow: 0 0 5px #f00;
}
.val-error-msg{
    padding-left: 1em;
    color: #f00;
    font-size: 12px;
}

/*********  mTimer  *********/
.mt-body{
	height: 240px;
	overflow: hidden;
	position: relative;
}
.mt_panel{
	background-color: #F7F7F7;
	padding: 10px 0;
}
.mt_panel h3{
	color: #4c89db;
	font-size: 16px;
	text-align: center;
	font-weight: normal;
}
.mt-date, .mt-time{
	float: left;
	width: 50%;
	height: 100%;
	vertical-align: top;
	text-align: center;
}
.mt-body ul li{
	height: 48px;
	line-height: 48px;
	font-size: 18px;
	color: #555;
}
.mt_indicate, .mt_indicate:after{
	top: 95px;
	position: absolute;
	border-top: 1px solid #e9e9e9;
	width: 100%;
	height: 0;
	font-size: 0;
}
.mt_indicate:after{
	content: "";
    top: 48px;
}
.mt-body li.selected{
	color: #4c89db;
}
.mt-body ul .mt_note{
	font-size: 12px;
	color: #000;
}
.mt_confirm{
	text-align: center;
	margin-top: 15px;
	margin-bottom: 10px;
}
.mt_ok{
	color: #4c89db;
	font-size: 16px;
}
.mt_cancel{
	color: #4c89db;
	margin-left: 30%;
	font-size: 16px;
}
.mt-mask{
	width: 100%;
    height: 100%;
    -moz-transition: opacity .5s linear;
    -webkit-transition: opacity .5s linear;
    -o-transition: opacity .5s linear;
    -ms-transition: opacity .5s linear;
    transition: opacity .5s linear;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    visibility: hidden;
    background: #000;
    opacity: 0;
    z-index: 10;
}
.mt-mask.show{
	/*visibility: visible;*/
	opacity: 0.5;
}
.mt_poppanel {
    -moz-transition: -moz-transform .4s ease-in-out;
    -ms-transition: -ms-transform .4s ease-in-out;
    -webkit-transition: -webkit-transform .4s ease-in-out;
    -o-transition: -o-transform .4s ease-in-out;
    transition: transform .4s ease-in-out;
    -ms-transform: translate3d(0,100%,0);
    -moz-transform: translate3d(0,100%,0);
    -webkit-transform: translate3d(0,100%,0);
    -o-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 11;
    -webkit-user-select : none;
}
.mt_poppanel.show{
	-ms-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
/*  END mTimer  */

/*  iSelect  */
.mt-select{
	width: 100%;
	height: 100%;
	/*vertical-align: top;*/
	text-align: center;
}
/*  END iSelect  */
