/*
* @Author: Nokey
* @Date:   2014-12-08 20:40:21
* @Last Modified by:   Nokey
* @Last Modified time: 2015-06-18 11:40:37
*/
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden], template {
    display: none;
}
a {
    background: 0 0;
}
a:active, a:hover {
    outline: 0;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b, strong {
    font-weight: 700;
}
dfn {
    font-style: italic;
}
h1 {
    font-size: 2em;
    margin: .67em 0;
}
mark {
    background: #ff0;
    color: #000;
}
small {
    font-size: 80%;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -.5em;
}
sub {
    bottom: -.25em;
}
img {
    border: 0;
    outline: 0;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 1em 40px;
}
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}
pre {
    overflow: auto;
}
code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
button {
    overflow: visible;
}
button, select {
    text-transform: none;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled], html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
input {
    line-height: normal
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    height: auto;
}
input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}
fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em;
}
legend {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
}
optgroup {
    font-weight: 700;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td, th {
    padding: 0;
}
ul {
    list-style: none;
}
li, ul {
    margin: 0;
    padding: 0;
}
body {
    color: #fff;
    font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "黑体", Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
}
a {
    color: #686868;
    text-decoration: none;
    cursor: pointer;
}
body, html {
    height: 100%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}

/*   First Style   */
img{
    display: block;
}
.abs{
    position: absolute;
}
.hardware{
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: #000;
    max-width: 640px;
    margin: auto;
}
.content-list{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    list-style: none;
    background-color: #202020;
}
.ctt-li{
    list-style: none;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #eee;
}
.page{
    width: 300px;
    height: 320px;
    left: 50%;
    top: 50%;
    margin: -160px 0 0 -150px;
    /*-webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;*/
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

/***************************/
/*      Loading  Style     */
.loading-wrap {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 8;
    background-color: #101c24;
    background-image: -webkit-radial-gradient(circle, #113a47, #101c24);
    background-image: radial-gradient(circle, #113a47, #101c24);
}
.l-progress{
    top: 60%;
    left: 0;
    width: 100%;
    height: 20px;
    color: #fff;
    text-shadow: 0 0 5px #59f8ff;
    font-size: 18px;
    text-align: center;
    line-height: 20px;
}

/* 3d logo */
.l-3d-box{
    top: 30%;
    left: 50%;
    width: 80px;
    height: 80px;
    margin-left: -40px;
    position: relative;
}
.cubic-container{
    width: 100%;
    height: 100%;
    position: absolute;
    -moz-perspective: 600px;
    -webkit-perspective: 600px;
    perspective: 600px;
    -webkit-perspective-origin: 50% -200px;
    perspective-origin: 50% -200px;
}
.cubic-container .cube{
    width: 100%;
    height: 100%;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-animation: rotateR 5s infinite linear;
    animation: rotateR 5s infinite linear;
}
.cubic-container figure{
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background-color: #213440;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    background: url(../images/logo@2x.png) center center no-repeat;
    background-size: 110% 110%;
    background-color: #213541;
}
.cubic-container .back{
    -webkit-transform: rotateX(180deg) translateZ(40px);
    transform: rotateX(180deg) translateZ(40px);
}
.cubic-container .top{
    -webkit-transform: rotateX(90deg) translateZ(40px);
    transform: rotateX(90deg) translateZ(40px);
}
.cubic-container .bottom{
    -webkit-transform: rotateX(-90deg) translateZ(40px);
    transform: rotateX(-90deg) translateZ(40px);
}
.cubic-container .left{
    -webkit-transform: rotateY(-90deg) translateZ(40px);
    transform: rotateY(-90deg) translateZ(40px);
}
.cubic-container .right{
    -webkit-transform: rotateY(90deg) translateZ(40px);
    transform: rotateY(90deg) translateZ(40px);
}
.cubic-container .front{
    -webkit-transform: translateZ(40px);
    transform: translateZ(40px);
}
@-webkit-keyframes rotateR{
    0%{
        -webkit-transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
    }
    20%{
        -webkit-transform: rotateY(10deg) rotateX(20deg) rotateZ(30deg);
    }
    50%{
        -webkit-transform: rotateY(50deg) rotateX(100deg) rotateZ(90deg);
    }
    60%{
        -webkit-transform: rotateY(150deg) rotateX(160deg) rotateZ(180deg);
    }
    100%{
        -webkit-transform: rotateY(360deg) rotateX(360deg) rotateZ(360deg);
    }
}
@keyframes rotateR{
    0%{
        transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
    }
    20%{
        transform: rotateY(10deg) rotateX(20deg) rotateZ(30deg);
    }
    50%{
        transform: rotateY(50deg) rotateX(100deg) rotateZ(90deg);
    }
    60%{
        transform: rotateY(150deg) rotateX(160deg) rotateZ(180deg);
    }
    100%{
        transform: rotateY(360deg) rotateX(360deg) rotateZ(360deg);
    }
}

/*  Music Btn  */
@-webkit-keyframes circle{
    0%{
        -webkit-transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
    }
}
@keyframes circle{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.circle{
    -webkit-animation: circle 2s ease infinite;
    animation: circle 2s ease infinite;
}

/*     Tool style     */
.fadeOut{
    opacity: 0;
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease;
}
.hide{
    opacity: 0;
}
.envisible{
    visibility: hidden;
}
.transition{
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.transition-1{
    -webkit-transition: all 1.5s ease;
    transition: all 1.5s ease;
}
.transition-2{
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.scale0{
    -webkit-transform: scale(0);
    transform: scale(0);
}

/*   Music button   */
@-webkit-keyframes eleCircle{
    0% {
        -webkit-transform: rotate(0deg);
    }
    20% {
        -webkit-transform: rotate(72deg);
    }
    40% {
        -webkit-transform: rotate(144deg);
    }
    60% {
        -webkit-transform: rotate(216deg);
    }
    80% {
        -webkit-transform: rotate(288deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes eleCircle{
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(72deg);
    }
    40% {
        transform: rotate(144deg);
    }
    60% {
        transform: rotate(216deg);
    }
    80% {
        transform: rotate(288deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.eleCircle{
    -webkit-animation: eleCircle 2s linear infinite;
    animation: eleCircle 2s linear infinite;
}
.music-play-btn{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 35px;
    height: 35px;
    background: url(../images/disk1@2x.png);
    background-size: 100%;
    opacity: 1;
    z-index: 30;
}
